<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="\E7XX" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SIS-log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start of log]&#13;&#10;" />
        <footer value="[End of log]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredRichTextBoxAppender" type="DevDefined.Common.Appenders.ColoredRichTextBoxAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="*">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ColoredRichTextBoxAppender" />
    </logger>
  </log4net>
</configuration>
